// Helper to reset font options to default.
$fontReset
  color: text-color-normal
  font-size: 12px
  font-weight: normal
  font-style: normal
  text-decoration: none

// Utility classes to set font styles.
.bold
  font-weight: bold
.italic
  font-style: italic

// Make 'unselectable' text unselectable on all browsers.
[unselectable=on]
  user-select: none
