[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "RobustToolboxSubmodule"]
	path = RobustToolboxSubmodule
	url = ../../space-wizards/RobustToolbox
