body.nanotrasen
  background: data-url('images/nanotrasen.svg') no-repeat fixed center/70% 70%,
    linear-gradient(to bottom,
      background-color-start 0%,
      background-color-end 100%)
  
  @import "util/*"
  @import "components/*"
  @import "interfaces/*"
