input
  display: inline-block
  vertical-align: middle
  height: 20px
  line-height: @height - 3px
  padding: 0 5px
  white-space: nowrap

  color: input-color-text
  background-color: input-color-background
  border: 1px solid input-color-border
  
  &.number
    width: 35px
  &::placeholder
    color: input-color-placeholder
  &::-ms-clear
    display: none

