div.resize
  position: fixed
  bottom: 0
  right: 0
  width: 0
  height: 0

  border-style: solid;
  border-width: 0 0 45px 45px;
  border-color: transparent transparent resize-color transparent

  transform: rotate(360deg)
